/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--backround-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  justify-items: end;
  align-items: start;
  block-size: 100vh;
  min-block-size: 688px;
  grid-template-rows: 1fr auto 1fr auto;
}

.decorated-zone {}

.decorations-zone::after {
  content: "";
  position: absolute;
  justify-self: start;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  
  border-block-start: 1px solid var(--menu-color);
  border-inline-end: 1px solid var(--menu-color);
}

.decorations-zone::before {
  content: "";
  position: absolute;
  justify-self: end;
  align-self: flex-start;
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  margin-top: 10px;
  margin-right: 10px;
}

.header__rec {
  position: relative;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  color: var(--accent-color);
  
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  top: 10;
  right: 19;
}



.header__theme-menu {}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 39px;
}

.header__theme-menu-item {}

.header__theme-menu-button {
  border: none;
  color: var(--menu-color);
  background-color: transparent;

}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
}

.decorations {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--heading-color);
}

.header-promo {}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}



.main {
  display: flex;
  flex-direction: column;
  gap: ;
  padding: ;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--accent-color);
}

.main__section-content {
  gap: 10px;
}

.factors {}

.advice {}

.regular {}

.gallery {}

.gallery-image-item {
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  align-self: center;
  block-size: max(100vb, 668px);
}

